/**
Custom CSS for API Method Documentation pages

See api/rest/rest_api_template.md for an example of how these are used.
**/

//custom REQUIRED label for parameters
required-tag {
  background: #0e84b5;
  font-size: 0.75em;
  color: #ffffff;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: -1px;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 2px;
}

// custom OPTIONAL label for parameters
optional-tag {
  font-size: 0.75em;
  color: #0e84b5;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  border: 1px solid #0e84b5;
  border-radius: 4px;
  padding: 2px;
}

//default formatting for response code signature

.api-header {
  border: 1px solid var(--dc-gray-lite);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f1f1f1;
  padding: 10px 20px;
  margin-bottom: 0;
  filter: drop-shadow(0 0 0.2em rgba(0,0,0,0.1));
  font-size: 17px;
}

.api-signature{
  border: 1px solid var(--dc-gray-lite);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0 0.2em 0.2em rgba(0,0,0,0.1));
}

.api-signature pre {
  margin-bottom: 0;
  overflow: auto;
  background-color: #f5f6fa;
  padding: 30px;
}

.api-signature code {
  color: #0e84b5;
  font-family: monospace;
  font-size: 1em;
  background-color: #f5f6fa;
}


.response-signature {
  overflow: hidden;
  border-radius: 10px;
  //border: 1px solid var(--dc-gray-lite);
}


.response-signature pre,
.response-signature code {
  font-size: 0.8em;
  max-height: 40em;
  margin-bottom: 0;
  overflow: auto;
}

//highlighting for {parameter}
.param {
  color: #ff686b;
  font-weight: bold;
  font-family: monospace;
}

//highlighting for GET / POST keywords
.keyword {
  color: #062873;
  font-weight: bold;
  font-family: monospace;
}

.query-param {
  font-weight: bold;
  font-family: monospace;
}

// for parameter & response field tables
.doc-table {
  border-collapse: collapse;
  width: 100%;
}

// styles text in first column
.doc-table td:nth-child(1) {
  color: #062873;
  font-weight: bold;
  font-family: monospace;
  font-size: 0.9em;
}

// for the "REQUEST:" and "RESPONSE" boxes in the example sections
.example-box-title {
  // background-color: #dcdde1;
  background-color: #a3a8bb;
  // border: 1px solid var(--dc-gray-lite);
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 0.75em;
  font-family: var(--font-family);
  //color: var(--dc-gray);
  color: #fff;
  text-transform: uppercase;
  padding: 0.35em 0.5em 0.35em 0.75em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.example-box-content {
  background: #f5f6fa;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 20em;
  font-size: 0.8em;
  scrollbar-color: var(--dc-gray-lite);
  scrollbar-width: 5px;
  overflow: hidden;
}

.example-box-content pre {
  max-height: 20em;
  overflow: auto;
}

div.example-box-content .highlight {
  margin-bottom: 0px;
}

.scroll pre::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  &-thumb {
    background-color: #d2d3d8;
  }

  &-corner {
    background-color: transparent;
  }

}







/* Style the tab */
.api-tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  filter: drop-shadow(0 0 0.2em rgba(0,0,0,0.1));
}

/* Style the buttons inside the tab */
.api-tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.api-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.api-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.api-tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}
